### heloo, testowy google colab

jbjhbhj

In [7]:
# komentarz

# if

wielkosc = 5

print(wielkosc)

5

In [13]:
if wielkosc > 6:
    print("ale duze")
elif wielkosc < 3:
    print("malutkie")
    print('franek')
else:
    print("w sam raz")

w sam raz

In [2]:
studenci = ["Ania", "Zosia", "Kasia", "Franek"]

print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek']

In [70]:
studenci.append("Krzysztof")
print(studenci)

['Ania', 'Zosia', 'Kasia', 'Franek', 'Krzysztof']

In [16]:
studenci[0][1]

'Ania'

In [18]:
for student in studenci:
    print("student ma na imie:", student)
    
for student in studenci:
    print(student)
    if student[0]=="A":
        print("student na poczatku alfabetu")

student ma na imie: Ania
student ma na imie: Zosia
student ma na imie: Kasia
student ma na imie: Franek
Ania
student na poczatku alfabetu
Zosia
Kasia
Franek

In [56]:
pierwszy_student, drugi_student, *reszta_studentow = studenci

print(pierwszy_student)
print(drugi_student)
print(reszta_studentow)

lista_list = ["a","b",["c","d"]]

*pierwsze_dwa, (trzeci,czwarty) = lista_list

print(pierwsze_dwa,trzeci, czwarty)

Ania
Zosia
['Kasia', 'Franek']
['a', 'b'] c d

In [69]:
print(studenci)
fabryczka = enumerate(studenci) #tworzy się generator

['Ania', 'Zosia', 'Kasia', 'Franek']

In [68]:
numer, student = next(fabryczka)
print(numer)
print(student)

StopIteration:

In [51]:
for numer, student in enumerate(studenci):
    print("student {} ma numer {}".format(student,numer))

student Ania ma numer 0
student Zosia ma numer 1
student Kasia ma numer 2
student Franek ma numer 3

In [93]:
print(studenci)
oceny = [2,2,5,3]

print(oceny)

studenci_oceny = zip(studenci,oceny)

print(studenci_oceny)

['Ania', 'Zosia', 'Kasia', 'Franek', 'Krzysztof']
[2, 2, 5, 3]
<zip object at 0x7f57120ecf00>

In [96]:
for para in studenci_oceny:
    print(para)

('Kasia', 5)
('Franek', 3)

In [95]:
next(studenci_oceny)

del

('Zosia', 2)

In [53]:
oceny = [2,2,5,3]

for numer, student in enumerate(studenci):
    print("student {} ma numer {} i ocenę {}".format(student,numer,oceny[numer]))

print("--"*20)    
for number, (student, ocena) in enumerate(zip(studenci,oceny)):
    print("student {} ma numer {} i ocenę {}".format(student,number,ocena))

student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3
----------------------------------------
student Ania ma numer 0 i ocenę 2
student Zosia ma numer 1 i ocenę 2
student Kasia ma numer 2 i ocenę 5
student Franek ma numer 3 i ocenę 3

In [25]:
trzy_elementy = [1,2,3]
pierwszy,drugi,trzeci = trzy_elementy

In [42]:
n = 1

while not rospy.is_shutdown():
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9

In [45]:
def dodaj_dwa(liczba):
    """dodaje dwa do liczby
    
    Args:
        liczba: liczba do dodania 2
        
    Returns:
        number: liczba z dodaną dwójką
    
    """
    print("hello")
    
    
    return liczba+2

def dodaj_trzy(liczba):
    
    return liczba+3

def dodaj_dwie_liczby(liczba1,liczba2):
    return liczba1+liczba2


dodaj_cztery = lambda liczba:liczba+4

In [47]:
nowa_nazwa_dodaj_dwa = dodaj_dwa

nowa_nazwa_dodaj_dwa(3)

hello

5

In [48]:
funkcje = [dodaj_dwa,dodaj_trzy,dodaj_cztery]

jakis_nr = 10

for funkcja in funkcje:
    print(funkcja(jakis_nr))

hello
12
13
14

In [6]:
print(len(studenci))
print(studenci)
print(studenci[0]) #element 1 listy :|
print(studenci[2:4])# od 3 do 4 wlacznie
print(studenci[1:])# od 2 do konca
print(studenci[:-1]) # od poczatku do przedostatniego
studenci

4
['Ania', 'Zosia', 'Kasia', 'Franek']
Ania
['Kasia', 'Franek']
['Zosia', 'Kasia', 'Franek']
['Ania', 'Zosia', 'Kasia']

['Ania', 'Zosia', 'Kasia', 'Franek']

In [113]:
lista_z_zipa = list(zip(studenci,oceny))

list(reversed(lista_z_zipa))

[('Franek', 3), ('Kasia', 5), ('Zosia', 2), ('Ania', 2)]

In [40]:
#### challenge 0.1

zajecia = ["wf","informatyka","relax","mispy","piateczek"]

dnityg = ["Pon","Wto","Sro","Czwar","Pio"]

# wyprintuj zajecia od srody do piatku
# ["relax","mispy","piateczek"]
# wyprintuj oprocz srody
# ["wf","informatyka","mispy","piateczek"]

In [36]:
#### challenge 0.2

zajecia = [["wf"],
           ["informatyka", "nauka czytania"],
           ["relax", "jedzenie"],
           ["mispy","mispy w domu"],
           ["piateczek", "praca domowa z mispow", "Ilovemispy", "mispy w czasie snu"]
          ]

dnityg = ["Pon","Wto","Sro","Czwar","Pio"]

# zdefiniuj funkcje ktora poda ile jest zajec danego dnia
# lista_zajec_z_dnia -> ile ich jest

# po
# posortuj dni po najbardziej zajetych


#### challenge 0.3

# napisz program ktory zdajdzie dzien z najwieksza iloscia mispow

In [81]:
["ciag_znakow"][0][2]

'a'

In [90]:
nieposortowana_lista = [1,2,3,50,1]
nieposortowana_lista.sort()

print(nieposortowana_lista)

nieposortowana_lista.count(1)

[1, 1, 2, 3, 50]

2

In [102]:
len(str(22)+"hello")

7

In [110]:
def element_na_numer(element):
    return len(str(element))
sorted([1,2,3,50,1,"a",[1,2]], key = lambda element: len(str(element)))

[1, 2, 3, 1, 'a', 50, [1, 2]]

In [51]:
len(zajecia)

zajecia[4][1]

"Ma" in "MojaMaMa"

liczby=["22","11","33","100"]
liczby_i_nazwy = [("22","dwadziescia dwa"),
                 ("11","jedenascie"),
        ("33","trzydziesci trzy"),("100","sto")]
sorted(liczby)

sorted(liczby, key=int)

liczby_kolejnosc= enumerate(liczby)

def czy_jest_jeden(liczba):

    if "1" in liczba:
        return 1
    else:
        return 0
def na_liczbe(krotka):
         return int(krotka[0])
def na_liczbe_index(krotka):
         return int(krotka[1])    
sorted(liczby, key = czy_jest_jeden)
         
sorted(liczby_i_nazwy,key = na_liczbe)

sorted(liczby_kolejnosc,key = na_liczbe_index)

[(1, '11'), (0, '22'), (2, '33'), (3, '100')]

In [41]:
sorted(liczby_kolejnosc,key=)

SyntaxError: invalid syntax (<ipython-input-41-34882cb7125b>, line 1)

In [115]:
(1,2,3,4,5)[0]

1